<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <appSettings>
    <add key="ConnectionStringWBD" value="/mmPCC090R/JJ379/p52N0fE8Ib6g0TrXuvTwc+77wzcs00n3CrfvWxGaOfhbA3L1ci6P1U0/ShZVKHRc4r743QFEJftTNd1aN514jJ0UbWpucie6+t2+ZJI5OK4MV2PoL0KEHXWc7HXaToqx+L3nE6sleb7ksdC395gfP1riNg1Z6/gg5cTdfyWdYVkpiVw1QDaiLkKdNNbfDu336oBHgYVmR8u2YUtJtYSZh+zkTmT4pTh1MLoX7AYMhfEot4E8kXkEfq2sTcpfPII+dd78xqL0Pc89x8l+adC4SlgemH+CzZOsovBqt+3nZXDMsp1Em6k032ePLVxqUgduac0OdEEreKbPgk/ORQ4rR71iVU3claWi/MCaaDgD5z79y/XrwNQeXz3Z1hckr5N3eYNaiioowuFNLJajR3JihxH3YFDRcuXsGbRdVVyPwqY6IgafODN1D/MYtoX7sQapo6Q+Q==" />
    <add key="ConnectionStringANF" value="/mmPCC090R/JJ379/p52N0fE8Ib6g0TrXuvTwc+77wzcs00n3CrfvWxGaOfhbA3L1ci6P1U0/ShZVKHRc4r743QFEJftTNd1aN514jJ0UbWpucie6+t2+ZJI5OK4MV2PoL0KEHXWc7HXaToqx+L3nE6sleb7ksdC395gfP1riNg1Z6/gg5cTdfyWdYVkpiVw1QDaiLkKdNNbfDu336oBHgYVmR8u2YUtJtYSZh+zkTmT4pTh1MLoX7AYMhfEot4E8kXkEfq2sTcpfPII+dd78xqL0Pc89x8l+adC4SlgemH+CzZOsovBqt+3nZXDMsp1Em6k032ePLVxqUgduac0OdEEreKbPgk/ORQ4rR71iVU3claWi/MCaaDgD5z79y/XcX16ypxcYZKu0jtdx8MSJLAlzGKaZidku6anjuThgsFT1yfclnnKxAJaN+Hbh/NZPM5PM8La42DTExviA34gWO8E/abEndGN6cnw/fbWBM4=" />
    <add key="ConnectionStringAK" value="/mmPCC090R/JJ379/p52N0fE8Ib6g0TrXuvTwc+77wzcs00n3CrfvWxGaOfhbA3L1ci6P1U0/ShZVKHRc4r743QFEJftTNd1aN514jJ0UbWpucie6+t2+ZJI5OK4MV2PoL0KEHXWc7HXaToqx+L3nE6sleb7ksdC395gfP1riNg1Z6/gg5cTdfyWdYVkpiVw1QDaiLkKdNNbfDu336oBHgYVmR8u2YUtJtYSZh+zkTmT4pTh1MLoX7AYMhfEot4E8kXkEfq2sTcpfPII+dd78xqL0Pc89x8l+adC4SlgemH+CzZOsovBqt+3nZXDMsp1Em6k032ePLVxqUgduac0OdEEreKbPgk/ORQ4rR71iVU3claWi/MCaaDgD5z79y/XcX16ypxcYZKu0jtdx8MSJLAlzGKaZidku6anjuThgsFT1yfclnnKxAJaN+Hbh/NZPM5PM8La42DTExviA34gWO8E/abEndGN6cnw/fbWBM4=" />
    <add key="DBConnectionPoolsize" value="3" />
  </appSettings>
  
</configuration>
